<div class="dashboard-inner">
    <ul data-submenu-title="Main Navigation">
        <li class="{% if dashboard_active == 'dashboard' %}active{% endif %}"><a href="{% url 'App:candidate_dashboard' %}"><i class="fa-solid fa-gauge-high me-2"></i>User Dashboard</a></li>
        <li class="{% if dashboard_active == 'profile' %}active{% endif %}"><a href="{% url 'App:candidate_profile_detail' request.user.username %}"><i class="fa-regular fa-user me-2"></i>My Profile </a></li>
        <!-- <li class="{% if dashboard_active == 'resume' %}active{% endif %}"><a href="{% url 'App:candidate_resume' %}"><i class="fa-solid fa-file-pdf me-2"></i>My Resumes</a></li>
        <li class="{% if dashboard_active == 'applied' %}active{% endif %}"><a href="{% url 'App:candidate_applied_jobs' %}"><i class="fa-regular fa-paper-plane me-2"></i>Applied jobs</a></li>
        <li class="{% if dashboard_active == 'alert' %}active{% endif %}"><a href="{% url 'App:candidate_alert_job' %}"><i class="fa-solid fa-bell me-2"></i>Alert Jobs<span class="count-tag bg-warning">4</span></a></li>
        <li class="{% if dashboard_active == 'saved' %}active{% endif %}"><a href="{% url 'App:candidate_saved_jobs' %}"><i class="fa-solid fa-bookmark me-2"></i>Shortlist Jobs</a></li>
        <li class="{% if dashboard_active == 'follow' %}active{% endif %}"><a href="{% url 'App:candidate_follow_employers' %}"><i class="fa-solid fa-user-clock me-2"></i>Following Employers</a></li>
        <li class="{% if dashboard_active == 'messages' %}active{% endif %}"><a href="{% url 'App:candidate_messages' %}"><i class="fa-solid fa-comments me-2"></i>Messages<span class="count-tag">4</span></a></li>
        <li class="{% if dashboard_active == 'change_password' %}active{% endif %}"><a href="{% url 'App:candidate_change_password' %}"><i class="fa-solid fa-unlock-keyhole me-2"></i>Change Password</a></li>
        <li class="{% if dashboard_active == 'delete' %}active{% endif %}"><a href="{% url 'App:candidate_delete_account' %}"><i class="fa-solid fa-trash-can me-2"></i>Delete Account</a></li>
        <li><a href="{% url 'App:index' %}"><i class="fa-solid fa-power-off me-2"></i>Log Out</a></li> -->
    </ul>
</div>
