{% extends "Base/base.html" %}

{% block hero_content %}

{% include 'Base/navbar.html' %}
<!-- dashboard Detail -->
<div class="dashboard-wrap bg-light" >
	<a class="mobNavigation" data-bs-toggle="collapse" href="#MobNav" role="button" aria-expanded="false" aria-controls="MobNav">
		<i class="fas fa-bars mr-2"></i>Dashboard Navigation
	</a>
		<div class="collapse" id="MobNav">
		<div class="dashboard-nav">
			<div class="dash-user-blocks pt-5">
				<div class="jbs-grid-usrs-thumb">
					<div class="jbs-grid-yuo">
						<a href="{% url 'App:candidate_list_or_default' %}"><figure><img src="{% static 'app/img/user-5.png' %}" class="img-fluid circle" alt=""></figure></a>
					</div>
				</div>
				<div class="jbs-grid-usrs-caption mb-3">
					<div class="jbs-kioyer">
						<div class="jbs-kioyer-groups">
							<span class="fa-solid fa-star active"></span>
							<span class="fa-solid fa-star active"></span>
							<span class="fa-solid fa-star active"></span>
							<span class="fa-solid fa-star active"></span>
							<span class="fa-solid fa-star"></span>
							<span class="aal-reveis">4.7</span>
						</div>
					</div>
					<div class="jbs-tiosk">
						<h4 class="jbs-tiosk-title"><a href="{% url 'App:candidate_list_or_default' %}">Linda D. Strong</a></h4>
						<div class="jbs-tiosk-subtitle"><span>Front-End Developer</span></div>
					</div>
				</div>
			</div>
			{% include 'Components/For-Candidate/dashboard_nav.html' with dashboard_active='dashboard' %}
		</div>
	</div>
	
	<div class="dashboard-content" style="display: none1;">
		<div class="dashboard-tlbar d-block mb-5">
			<div class="row">
				<div class="colxl-12 col-lg-12 col-md-12">
					<h1 class="mb-1 fs-3 fw-medium">Candidate Dashboard</h1>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item text-muted"><a href="#">Candidate</a></li>
							<li class="breadcrumb-item text-muted"><a href="#">Dashboard</a></li>
							<li class="breadcrumb-item"><a href="#" class="text-main">Candidate Statistics</a></li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
		
		<div class="dashboard-widg-bar d-block" style="display: none;">
			
			<!-- Row Start -->
			<div class="row align-items-center gx-4 gy-4 mb-4">

				<!-- Components/For-Candidate/candidate-dashboard/ctr3.html -->
           	 	{% include 'Components/For-Candidate/candidate-dashboard/ctr3.html' %}

			</div>
			<!-- Row End -->
			
			<!-- Row Start -->
			<div class="row gx-4 gy-4 mb-4">
				<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
					<div class="card d-none d-lg-block">
						<div class="card-header">
							<h4 class="mb-0">Extra Area Chart</h4>
						</div>
						<div class="card-body">
							<ul class="list-inline text-center m-t-40">
								<li>
									<h5><i class="fa fa-circle me-1 text-warning"></i>Applied jobs</h5>
								</li>
								<li>
									<h5><i class="fa fa-circle me-1 text-danger"></i>Viewed Jobs</h5>
								</li>
								<li>
									<h5><i class="fa fa-circle me-1 text-success"></i>Saved jobs</h5>
								</li>
							</ul>
							<div class="chart full-width" id="line-chart" style="height:300px;"></div>
						</div>
					</div>
				</div>
				
				<div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
					<div class="card">
						<div class="card-header">
							<h4>Notifications</h4>
						</div>
						
						<!-- Components/For-Candidate/candidate-dashboard/notifications.html -->
           	 			{% include 'Components/For-Candidate/candidate-dashboard/notifications.html' %}

					</div>
				</div>
			</div>
			<!-- Row End -->
			
			<!-- Row Start -->
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="card">
						<div class="card-header">
							<h4 class="mb-0">Shortlisted Jobs</h4>
						</div>
						<div class="card-body px-4 py-4">
							<!-- Start All List -->
							<div class="row justify-content-start gx-3 gy-4">
						
								<!-- Components/For-Candidate/Browse-Jobs/list-style-2/jobs13.html -->
           	 					{% include 'Components/For-Candidate/Browse-Jobs/list-style-2/jobs13.html' %}
								
							</div>
							<!-- End All Job List -->
						</div>
					</div>
				</div>
			</div>
			<!-- Row End -->

		</div>
		
		<!-- footer -->
		<div class="row">
			<div class="col-md-12">
				<div class="py-3 text-center">© <script>document.write(new Date().getFullYear())</script>reetechusa Develop with <i class="mdi mdi-heart text-danger"></i> by <a href="https://reetechusa.in" target="_blank" class="text-reset">reetechusa</a>.</div>
			</div>
		</div>

	</div>				
	
</div>
<!-- dashboard Detail End -->
			
<!-- Components/For-Candidate/candidate-dashboard/files.html -->
{% include 'Components/For-Candidate/candidate-dashboard/files.html' %}

{% endblock %}
