{% extends "Base/base.html" %}

{% block hero_content %}

{% include 'Base/navbar.html' %}
			
<!-- Login Form Start -->
<section class="gray-simple ">
	<div class="container">
		<!-- row Start -->
		<div class="row justify-content-center">
			
			<!-- Single blog Grid -->
			<div class="col-xl-7 col-lg-8 col-md-12">
				<div class="card rounded-4">
					<div class="card-body p-4">
						<form method="post" class="p-md-4" novalidate>
							{% csrf_token %}
							<div class="d-flex align-items-center justify-content-start gap-3">
									<div class="head-caps">
										<h4>Create your JobStock profile</h4>
										<p>Search & apply to jobs from India's No.1 Job Site</p>
									{{ form.non_field_errors }}
									{% if messages %}
										{% for message in messages %}
											<div class="alert alert-success">{{ message }}</div>
										{% endfor %}
									{% endif %}
								
									</div>
							</div>
							<div class="form-group mb-0">
								<label class="fw-medium fs-6 text-dark">Username</label>
								{{ form.username.errors }}
								{{ form.username }}
								<span class="text-sm opacity-75">Choose a unique username (no @)</span>
							</div>
							
							<!-- </div>
							
							<div class="form-float d-flex flex-column gap-4"> -->
							
								<div class="form-group mb-0">
									<label class="fw-medium fs-6 text-dark">Full Name</label>
									{{ form.full_name.errors }}
									{{ form.full_name }}
								</div>
								
								<div class="form-group mb-0">
									<label class="fw-medium fs-6 text-dark">Email ID<i class="text-danger text-md">*</i></label>
									{{ form.email.errors }}
									{{ form.email }}
									<span class="text-sm opacity-75">We'll send relevant jobs and updates to this email</span>
								</div>
								
								<div class="form-group mb-0">
									<label class="fw-medium fs-6 text-dark">Password<i class="text-danger text-md">*</i></label>
									{{ form.password1.errors }}
									{{ form.password1 }}
									<span class="text-sm opacity-75">This helps your account stay protected</span>
								</div>

								<div class="form-group mb-0">
									<label class="fw-medium fs-6 text-dark">Confirm Password<i class="text-danger text-md">*</i></label>
									{{ form.password2.errors }}
									{{ form.password2 }}
								</div>
								
								<div class="form-group mb-0">
									<label class="fw-medium fs-6 text-dark">Mobile number<i class="text-danger text-md">*</i></label>
									{{ form.phone.errors }}
									{{ form.phone }}
									<span class="text-sm opacity-75">This helps your account stay protected</span>
								</div>
								
								<!-- <div class="form-group mb-0">
									<label class="fw-medium fs-6 text-dark">Work status<i class="text-danger text-md">*</i></label>
									{{ form.work_status.errors }}
									<div class="row g-4">
								<div class="col-12">
									{{ form.work_status }}
									<p class="text-sm opacity-75">Select whether you are looking for a job or hiring talent</p>
								</div>
							</div>
						</div> -->
										<label class="form-check-label" for="promotions">Send me important updates & promotions via SMS & email</label>
									</div>
								</div>
								
								<div class="form-group mb-0">
									<!-- <p class="confirmTex">By clicking Register, you agree to the<a href="#" class="text-main"> Terms and Conditions </a> &amp;<a href="#" class="text-main"> Privacy Policy </a> of Jobstock.com</p> -->
									<button type="submit" class="btn btn-main full-width">Register now</button>
								</div>
							
							</div>
						</form>

						<div class="devider position-relative d-block">
							<hr class="mb-5 mt-4">
							<div class="position-absolute top-50 start-50 translate-middle"><span class="square--30 circle bg-white text-muted">OR</span></div>
						</div>
						
						<!-- <div class="social-signup d-flex flex-column gap-3 mb-4">
							<a href="#" class="btn btn-gray rounded-pill w-100"><img src="{% static 'app/img/facebook.png' %}" class="img-fluid me-2" width="20" alt="Facebook Signup">Signup with Facebook</a>
							<a href="#" class="btn btn-gray rounded-pill w-100"><img src="{% static 'app/img/google.png' %}" class="img-fluid me-2" width="20" alt="Google Signup">Signup with Google</a>
						</div> -->
						
					</div>
				</div>
			</div>
			
		</div>
		<!-- /row -->					
	</div>	
</section>
<!-- Login Form End -->
			
<!-- Components/Home/home-4/find2.html -->
{% include 'Components/Home/home-4/find2.html' %}
		
<!-- Components/Home/index/log.html -->
{% include 'Components/Home/index/log.html' %}

{% include 'Base/footer2.html' %} 

{% endblock %}